GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=

NVIDIA_NIM_API_KEY=
NVIDIA_NIM_API_BASE=https://integrate.api.nvidia.com/v1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=
BEDROCK_KNOWLEDGE_BASE_ID=
AWS_ACCOUNT_ID=
USE_DYNAMODB=true